@{
    ViewData["Title"] = "Create user";
    Layout = "_Layout";
}
@model string

<div class="row" style="margin-top:10vh;">
    <div class="d-flex justify-content-center">
        <div class="card" style="width:50vh;">
            <div class="card-header">
                <h5>Create user</h5>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" onclick="myFunction()" type="button">Copy</button>
                    </div>
                    <input type="text" class="form-control w-25" id="copyFuncion" readonly="readonly" value="@Model">
                </div>
            </div>
        </div>
    </div>
</div>
@*//TODO nie dziala skrypt js*@
<script>
    const text = document.getElementById("copyFuncion");
    text.select();
    text.setSelectionRange(0, 99999);
    navigator.clipboard.writeText(text.value);
</script>
