@model SettingsUserDto
@{
    ViewData["Title"] = PageTitle.PageTitle15(Model.Name);
    Layout = "_Layout";
}

<div class="row mt-5">
    <div class="d-flex justify-content-center">
        <div class="card formBox">
            <div class="card-header">
                <h5>Edit user</h5>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="admin" asp-action="edituser">
                    <div class="validation text-danger" asp-validation-summary="All"></div>
                    <div class="form-group mt-1">
                        <label>Update Username</label>
                        <input asp-for="Name" class="form-control" placeholder="Update Username">
                    </div>
                    <div class="form-group mt-3">
                        <label>Update Role</label>
                        <select asp-for="Role" class="form-control">
                            @foreach (var item in UserRoles.Roles)
                            {
                                <option>@item</option>
                            }
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <input asp-for="Block" type="checkbox" class="form-check-input" id="blockcheckbox">
                        <label class="form-check-label" for="blockcheckbox">Block</label>
                    </div>
                    <div class="form-group mt-3">
                        <label>Admin password</label>
                        <input asp-for="PasswordAdmin" type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group mt-3 text-center">
                        <button type="submit" class="btn btn-warning">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

