@{
    ViewData["Title"] = "Admin Panel";
    Layout = "_Layout";
}
@model IEnumerable<User>

<div class="container scrollable">
@foreach(var user in Model)
{
    <div class="row mt-1 border pt-2 pb-1">
        <div class="row mt-1">
            <div class="col-6"><b>@user.Name</b></div>
            <div class="col-6 text-end">
                <small>
                    <i class="bi bi-exclamation-circle"></i> Block status: 
                    </small><strong class="text-warning">@user.Block</strong>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-6 text-muted">
                <small>Role: </small><strong>@user.Role</strong>
            </div>
        </div>
    </div>
    <div class="row border border-top-0 bg-secondary">
        <div class="row mt-2 pb-2 pt-4">
            <div class="col-8 col-md-11">
                <small><i class="bi bi-calendar-date"></i> @user.CreatedTime.ToString("D")</small>
            </div>
            <div class="col-4 col-md-1 text-end">
                <div class="row">
                    <div class="col-6">
                        <a href="#" class="pt-0 pb-0 btn btn-warning btn-sm">Edit</a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="pt-0 pb-0 btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
</div>



