@{
    if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Roles[1]))
    {
		<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" asp-controller="admin" asp-action="userspanel">User panel</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="admin" asp-action="logs">All logs
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="admin" asp-action="uniquelink">Unique link</a>
                </li>
            </ul>
        </li>
    }
    
}