<footer class="footerDiv">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="text-white text-start">
                    <small><a asp-controller="home" asp-action="index" class="link-info">Stock Band</a></small>
                </div>
            </div>
            <div class="col-md-9">
                <div class="text-muted text-md-end">
                    <small>Site design © 2022 a_r_e_k97 Inc</small>
                </div>
            </div>
        </div>
    </div>
</footer>