<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_headPartial"/>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        window.addEventListener('scroll', function () {
        if (window.scrollY > 1) {
            document.getElementById('navbar_top').classList.add('fixed-top');
            // add padding top to show content behind navbar
            navbar_height = document.querySelector('.navbar').offsetHeight;
            document.body.style.paddingTop = navbar_height + 'px';
        } else {
            document.getElementById('navbar_top').classList.remove('fixed-top');
            // remove padding top from body
            document.body.style.paddingTop = '0';
        }
        });
    });
    </script>

</head>
<body class="page-container">
    <header>
        <nav id="navbar_top" class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-nav">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="index">Stock Band</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!--- admin --->
                        <partial name="_AdminNavItemsPartial"/>
                         <!--- home --->
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="index">Home
                            </a>
                        </li>
                        <!--- library --->
                        <li class="nav-item">
                            <a class="nav-link" href="#">Library</a>
                        </li>
                        <!--- upload --->
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="upload" asp-action="addtrack">Upload</a>
                        </li>
                        
                    </ul>
                    <div class="d-flex align-items-center">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <!--- userPanel --->
                            <partial name="_ProfilePartial"/>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid content-wrap"> 
        <main role="main" class="pb-3" >
            @RenderBody()
        </main>
    </div>
    <partial name="_footerPartial"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables/datatables.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

