@{
	string color = User.FindFirst(x => x.Type == "Color").Value;
}
<li class="nav-item dropdown">
    <button class="btn btn-link dropdown-toggle p-0" style="text-decoration: none; color:@color;" type="button" id="dropdownMenuUserPanel" data-bs-toggle="dropdown" aria-expanded="false">
		@User.Identity.Name
	</button>
    <ul class="dropdown-menu dropdownCustom" aria-labelledby="dropdownMenuUserPanel">
        <li>
            <a class="dropdown-item" asp-controller="account" asp-action="userlog">Logs</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="account" asp-action="usersettings">Settings</a>
        </li>
		<li>
            <a class="dropdown-item" asp-controller="account" asp-action="logout">Logout</a>
        </li>
    </ul>
</li>