@{
    ViewData["Title"] = "Exception";
    Layout = "_SimpleLayout";
}

<div class="row" style="margin-top:10vh;">
    <div class="d-flex justify-content-center">
        <div class="card" style="width:50vh;">
            <div class="card-header">
                <h5>Server error</h5>
            </div>
            <div class="card-body">
                <h6>@TempData["Message"]</h6>
                <a class="btn-primary btn btn-primary mt-4" asp-controller="Home" asp-action="Index">Go to home</a>
            </div>
        </div>
    </div>
</div>