@{
    ViewData["Title"] = "Exception";
    Layout = "_SimpleLayout";
}

<div class="row mt-5">
    <div class="d-flex justify-content-center">
        <div class="card formBox">
            <div class="card-header">
                <h5>Server error</h5>
            </div>
            <div class="card-body">
                <h6>@TempData["Message"]</h6>
                <partial name="_ButtonsForExceptionsPartial"/>
            </div>
        </div>
    </div>
</div>