@{
    ViewData["Title"] = "403 Forbidden";
    Layout = "_SimpleLayout";
}
<div class="row mt-5">
    <div class="d-flex justify-content-center">
        <div class="card formBox">
            <div class="card-header">
                <h5>Server error</h5>
            </div>
            <div class="card-body">
                <h2 class="text-danger">403</h2>
                <h6>@Message.Code16</h6>
                <partial name="_ButtonsForExceptionsPartial"/>
            </div>
        </div>
    </div>
</div>
