@{
    ViewData["Title"] = "Change avatar";
    Layout = "_Layout";
}
@model UserAvatarDto

<div class="row mt-5">
    <div class="d-flex justify-content-center">
        <div class="card formBox">
            <div class="card-header">
                <h5>Change avatar</h5>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="account" asp-action="avatar" enctype="multipart/form-data">
                    <div class="validation text-danger" asp-validation-summary="All"></div>
                    <div class="form-group mt-1">
                        <label asp-for="AvatarFile"></label>
                        <input asp-for="AvatarFile" id="dropfile" class="form-control" type="file">
                    </div>
                    
                    <div class="form-group mt-3 text-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}