@model EditUserDto

@{
    ViewData["Title"] = "Edit";
    Layout = "_layout";
    var urlAvatar = $"{Context.Request.Scheme}://{Context.Request.Host}{Url.Action("streamavatar","account",new {name=User.FindFirst(x => x.Type == ClaimTypes.Name).Value, type=UserProfileImagesTypes.Avatar})}";
    var urlHeader = $"{Context.Request.Scheme}://{Context.Request.Host}{Url.Action("streamavatar","account",new {name=User.FindFirst(x => x.Type == ClaimTypes.Name).Value, type=UserProfileImagesTypes.Header})}";
}

<div class="row mt-5">
    <div class="d-flex justify-content-center">
        <div class="card formBox"> 
            <div class="card-header">
                <h5>Edit</h5>
            </div>
            <div class="card-body">
                <div class="row text-start">

                    <div class="validation text-danger" style="text-decoration: none !important;" asp-validation-summary="All"></div>
                    <label class="text-center bg-secondary p-1 mt-2">Change avatar</label>
                    <form class="mt-2" method="post" asp-controller="account" asp-action="updateimage" asp-route-type="@UserProfileImagesTypes.Avatar" enctype="multipart/form-data">
                        <div class="form-group mt-1 col-12 text-center">
                            <label for="avatar-upload" id="imgstoreavatar">
                                <img class="rounded-circle" src="@urlAvatar" alt="Avatar Profile" style="width:120px; height:120px; cursor: pointer;">
                            </label>
                            <input asp-for="Image" id="avatar-upload" class="form-control" type="file" style="visibility:hidden; width:0; height:0;" accept=".png, .jpg, .jpeg">
                        </div>
                        <div class="form-group mt-3 text-end">
                            <button type="submit" class="btn btn-success">Upload avatar</button>
                        </div>
                    </form>

                    <label class="text-center bg-secondary p-1 mt-2">Change header</label>
                    <form class="mt-2" method="post" asp-controller="account" asp-action="updateimage" asp-route-type="@UserProfileImagesTypes.Header" enctype="multipart/form-data">
                        <div class="form-group mt-1 col-12 text-center">
                            <label for="avatar-upload" id="imgstoreavatar">
                                <img src="@urlHeader" alt="Avatar Profile" style="height: 200px; width: 100%; object-fit: contain">
                            </label>
                            <input asp-for="Image" id="avatar-upload" class="form-control" type="file" style="visibility:hidden; width:0; height:0;" accept=".png, .jpg, .jpeg">
                        </div>
                        <div class="form-group mt-3 text-end">
                            <button type="submit" class="btn btn-success">Upload header</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const image = document.getElementById("avatar-upload");
        image.addEventListener('change',loadimage,false);

        function loadimage(e1)
        {
            var filename = e1.target.files[0]; 
            var fr = new FileReader();
            fr.onload = imageHandler;  
            fr.readAsDataURL(filename); 
            
        }
        function imageHandler(e2) 
        { 
            console.log(e2.target.result);
            const store = document.getElementById('imgstoreavatar');
            store.innerHTML='<img class="rounded-circle" id="imgstoreavatar" src="'+ e2.target.result +'" alt="Avatar Profile" style="width:120px; height:120px; cursor: pointer;">';
        }
    </script>
}