@model EditUserDto

@{
    ViewData["Title"] = "Edit";
    Layout = "_layout";
}
<div class="row mt-5">
    <div class="d-flex justify-content-center">
        <div class="card formBox">
            <div class="card-header">
                <h5>Edit</h5>
            </div>
            <div class="card-body">
                <div class="row text-start">
                    <div class="col-12 mt-2">
                        <i class="bi bi-person-bounding-box"></i>
                        <a style="text-decoration: none;" asp-controller="account" asp-action="avatar" class="btn btn-link text-start" role="button">Avatar</a>
                    </div>
                    <div class="col-12 mt-2">
                        <i class="bi bi-image-alt"></i>
                        <a style="text-decoration: none;" asp-controller="account" asp-action="header" class="btn btn-link text-start" role="button">Header</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>