@model UserDto
@{
    ViewData["Title"] = @Model.Name;
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-12" style="background-image:src("https://image.shutterstock.com/image-vector/dark-violet-golden-abstract-tech-260nw-2040754121.jpg");">
            adw
        </div>
    </div>
</div>