@{
    ViewData["Title"] = "Settings";
    Layout = "_layout";
}
<div class="row" style="margin-top:10vh;">
    <div class="d-flex justify-content-center">
        <div class="card" style="width:50vh;">
            <div class="card-header">
                <h5>Settings</h5>
            </div>
            <div class="card-body">
                <div class="row text-start">
                    <div class="col-12 mt-2">
                        <i class="bi bi-lock"></i>
                        <a style="text-decoration: none;" asp-controller="account" asp-action="changepassword" class="btn btn-link text-start" role="button">Change password</a>
                    </div>
                    <div class="col-12 mt-2">
                        <i class="bi bi-palette"></i>
                        <a style="text-decoration: none;" asp-controller="account" asp-action="changecolor" class="btn btn-link text-start" role="button">Change color</a>
                    </div>
                    <div class="col-12 mt-2">
                        <i class="bi bi-easel2"></i>
                        <a style="text-decoration: none;" asp-controller="account" asp-action="changetheme" class="btn btn-link text-start" role="button">Change theme</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>