@{
    ViewData["Title"] = PageTitle.PageTitle24;
    Layout = "_Layout";
}
@model string

<div class="row mt-5">
    <div class="d-flex justify-content-center">
        <div class="card formBox">
            <div class="card-header">
                <h5>Share url</h5>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button id="buttonCopy" class="btn btn-outline-secondary" type="button">Copy</button>
                    </div>
                    <input id="elementToCopy" type="text" class="form-control w-25"  readonly="readonly" value="@Model">
                </div>
                <small id="elementInfo" style="display:none;" class="text-success"><i class="bi bi-check-circle"></i> Url copied</small>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/copyTextFunction.js"></script>
    <script>
        document.getElementById("buttonCopy").addEventListener("click", function(){
            copyText(document.getElementById("elementToCopy"), document.getElementById("elementInfo"));
        });
    </script>
}
