@{
    ViewData["Title"] = PageTitle.PageTitle24;
    Layout = "_Layout";
}
@model string

<div class="row mt-5">
    <div class="d-flex justify-content-center">
        <div class="card formBox">
            <div class="card-header">
                <h5>Share url</h5>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" onclick="copyText()" type="button">Copy</button>
                    </div>
                    <input type="text" class="form-control w-25" id="copyFuncion" readonly="readonly" value="@Model">
                </div>
                <small id="textCopied" style="display:none;" class="text-success"><i class="bi bi-check-circle"></i> Url copied</small>
            </div>
        </div>
    </div>
</div>
<script>
    function copyText(){
        const text = document.getElementById("copyFuncion");
        text.select();
        text.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(text.value);
        document.getElementById("textCopied").style = "display:block";
        setTimeout(function(){
            document.getElementById("textCopied").style = "display:none";
        },3500);
    }
</script>
