html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
   margin-bottom: 60px;
   overflow: hidden; /* Hide scrollbars */
}
@media only screen and (min-width: 0px) and (max-width:320px) {
    .card-custom {
        width: 15rem;
    }
    .adminpaneltbody {
        max-height: 45vh;
        font-size:8px;
    }
    table th{
        font-size:10px;
    }
    .table-role{

    }
}

@media only screen and (min-width: 320px) and (max-width:900px) {
    .card-custom {
        width: 19rem;
    }
    .adminpaneltbody {
        max-height: 50vh;
        font-size: 10px;
    }
    .table-role {
        width: 20%;
    }
}
@media only screen and (min-width: 900px) {
    .card-custom {
        width: 30rem;
    }
    .adminpaneltbody {
        max-height: 40vh;
    }

}
.card-custom {
    margin-left: auto;
    margin-right: auto;
    animation-duration: 1s;
    animation-name: slideIn;
}
.card-forbidden {
    animation-duration: 1s;
    animation-name: fadeIn;
}

@keyframes slideIn {
    from{
        transform:translateY(10px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    from {
        opacity:0.5;
    }

    to {
        opacity:1;
    }
}
.bg-image {
    position: absolute;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size:cover;
}
.thead-borderless > tr > th{
    border:none;
}
